.hero {
  color: #ecf0f1;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(1, 10, 20, 0.5), rgba(1, 10, 20, 0.5)), url(../../assets/hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}
.hero-text p {
  max-width: 560px;
  margin: 12px auto 20px;
  line-height: 1.4;
}

.btn .arrow-right {
  width: 16px;
  margin-left: 8px;
}

/* ----- Media Query ----- */
@media (max-width: 850px){
  .hero-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 650px){
  .hero-text h1 {
    font-size: 28px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 14px;
    margin: 16px auto 28px;
  }
}