.gallery {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.pics {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin-bottom: 40px;
}
.pics img {
  box-sizing: border-box;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.pics img:hover {
  transform: scale(1.02);
  border: 3px solid #dbac34;
  border-radius: 8px;
  transition: 0.5s;
}

/* ----- Media Query ----- */
@media (max-width: 800px){
  .pics {
    gap: 8px;
  }
}