.footer {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dbac34;
  padding: 16px 0;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 600px){
  .footer {
    display: block;
    text-align: center;
  }
  .footer ul {
    margin-top: 8px;
  }
  .footer ul li {
    margin: 8px;
  }
}