* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  /* background: linear-gradient(147deg, #2d3e52, #06121e); */
  background: #ecf0f1;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 4%;
  padding-right: 4%;
}

img {
  margin: 0;
}

.btn {
  font-size: 16px;
  color: #06121e;
  background: #ecf0f1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 28px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn.dark-btn {
  background: #dbac34;
}

/* ----- Media Query ----- */
@media (max-width: 1200px){
  .btn {
    padding: 12px 20px;
  }
}